<div class="row">
  <div class="content-div">
    <div class="well well-sm">
      <h2 class="text-center">Tax Returns</h2>
    </div>
    <%= link_to 'New Return', new_user_tax_return_path(current_user), class: "btn btn-default pull-right" %>
  </div>
</div>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>


<div class="content-div">
  <table class="table">
    <thead>
      <tr>
        <th>Return Name</th>
        <th>Business EIN</th>
        <th>Business ID</th>
      </tr>
    </thead>
    <tbody>
      <% @tax_returns.each do |taxrtn| %>
      <tr>
        <td><%= link_to Business.find(taxrtn.business_id).business_name, user_tax_return_path(@user, taxrtn.id)  %> </td>
        <td><%= Business.find(taxrtn.business_id).ein %></td>
        <td><%= taxrtn.business_id %></td>
        <td><%= link_to 'Delete Return', [@user, taxrtn], class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
