<div class="text-center">
<ul class="tab">
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg1')">1120S Page 1</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg2')">1120S Page 2</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg3')">1120S Page 3</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg4')">1120S Page 4</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg5')">1120S Page 5</a></li>
</ul>
</div>

<div id="1120Spg1" class="tabcontent">
  <%= render 'pg1' %>
</div>

<div id="1120Spg2" class="tabcontent">
	<%= render 'pg2' %>
</div>

<div id="1120Spg3" class="tabcontent">
 	<%= render 'pg3' %>
</div>

<div id="1120Spg4" class="tabcontent">
	<%= render 'pg4' %>
</div>

<div id="1120Spg5" class="tabcontent">
	<%= render 'pg5' %>
</div>




<script>
	function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
